{% extends 'shopapp/base.html' %}

{% block title %}
  Create product
{% endblock %}

{% block body %}
    {% if perms.shopapp.add_product %}
        <h1>Create product</h1>
        <div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
        </div>
        <div>
        <a href="{% url 'shopapp:products_list' %}"
        >Back to products list</a>
      </div>
    {% else %}
        <h1>You don't have permission to do anything in the shopapp.</h1>
    {% endif %}
{% endblock %}
